*{
  margin: 0;
  padding: 0;
}
.admin-add-pages, .admin-edit-pages{
  padding-top: 30px;
}
.admin-add-pages form, .admin-edit-pages form{
  display: flex;
  flex-direction: column;
}
.admin-add-pages button, .admin-edit-pages button{
  margin-top: 20px;
}
.navbar-link, .search-bar{
  margin: 0 10px;
  height: 100%;
}
a{
  color: unset;
  text-decoration: none;
}
.main-page{
  padding: 30px 0;
}
.main-page h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.products{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.products-card{
background-color: rgba(255, 255, 255, 0.603) !important;
  width: 30%;
}
.products-card img{
  object-fit: contain;
  margin-top: 10px;
}
.products-card-ul{
  list-style-type: none;
}
.products-card-ul li{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.products-card-ul span:nth-child(2){
  font-weight: 700;
}
.products-card-title{
  text-align: center;
}
.filter-block{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.filter-block div{
  width: 400px;
}
.filter-block h4{
  text-decoration: underline;
}
@media all and (max-width: 575px){
  .products-card{
    width: 70%;
  }.products{
    justify-content: center;
  }
}

.con{
  background-color: lightsteelblue;
}